code { font-weight: normal }
#customSettings { display: none; }
.doc-container { padding-left: 8rem; padding-right: 8rem }
.brand { width: 8rem; border-right: 1px solid #dcdcdc; padding-right: 2rem; }
.header { padding-top: 10px; padding-bottom: 10px; left: 0; right: 0; background: #fff; border-bottom: 1px solid #dcdcdc;
    z-index: 10 }
.left-container { padding-right: 2rem }
.right-container { background: #fff; min-height: 100vh; padding-top: 110px; padding-bottom: 40px }
.left-side { position: fixed; left: 0; top: 0 }
.right-side { margin-left: 25%;}
#navbar { margin-top: 61px; padding-top: 40px; height: calc(100vh - 61px) }
#navbar li { padding-top: .5rem; padding-bottom: .5rem }
#navbar li a { font-size: 1rem; font-weight: 500; }
#navbar li a.active { color: #1565D8 }
.doc-heading { padding: 1rem 2rem; border-left: 3px solid #1565D8; display: inline-block; background: #fafafc;
    color: #8b8b8b; margin-bottom: 40px }
hr { margin-top: 2rem; margin-bottom: 2rem }
hr:last-child { margin-bottom: 0 }
.structure { padding: 1.5rem; background: #fafafc }
.structure span, .structure [class^='ion-'], .structure [class*=' ion-'] { display: table-cell; vertical-align: middle }
.structure [class^='ion-'], .structure [class*=' ion-'] { font-size: 1.125rem; width: 1.125rem }
.structure .ion-ios-folder { color: #ecc76f }
.structure .ion-ios-document { color: #c6c8ca }
.structure span { padding-left: .5rem; }
.structure li { padding-top: .25rem; padding-bottom: .25rem }
.structure li ul { margin-left: 2rem }
footer { margin-top: 50px }
.doc-page { display: flex; display: -webkit-flex; display: -moz-flex; display: -ms-flex; align-items: center;
    -webkit-align-items: center; }
.doc-page--item { width: 46%; }
.doc-page--item-right { margin-left: auto; text-align: right }
.doc-page--link { display: table; width: 100%; padding: .75rem 1.5rem; border: 1px solid #eee; border-radius: .25rem; }
.doc-page--link, .doc-page--link:hover { color: #ccc }
.doc-page--item-right .doc-page--link { border-right: 4px solid #1565D8; }
.doc-page--item-left .doc-page--link { border-left: 4px solid #1565D8; }
.doc-page--link-text, .la { display: table-cell; vertical-align: middle }
.doc-page--link .la { font-size: 1.75rem; color: #1565D8 }
.doc-page--link-text p { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100% }
.sc-list li { margin-left: 15px; list-style: outside }
.sc-list li + li { margin-top: 10px }
.sc-list li a { color: #E74930 }
#pluginList li { display: none; }
#pluginList li:first-child { display: block; }
.or-div { position: relative }
.or-div hr { margin-top: 0 }
.or-div span { background: #fff; position: absolute; top: -14px; left: 50%; margin-left: -14px; padding: 4px; }
ul {
	list-style: none
}

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #fafafc;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

.hljs,
.hljs-subst {
    color: #434f54;
}

.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-doctag,
.hljs-name {
    color: #1565D8;
    font-weight: normal;
}

.hljs-attr {
    color: #34AA44;
}

.hljs-built_in,
.hljs-literal,
.hljs-bullet,
.hljs-code,
.hljs-addition {
    color: #D35400;
}

.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo {
    color: #00979D;
}

.hljs-type,
.hljs-string,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
    color: #E74930;
}

.hljs-title,
.hljs-section {
    color: #880000;
    font-weight: normal;
}

.hljs-comment {
    color: rgba(149,165,166,.8);
}

.hljs-meta-keyword {
    color: #728E00;
}

.hljs-meta {
    color: #434f54;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: normal;
}

.hljs-function {
    color: #728E00;
}

.hljs-number {
    color: #8A7B52;
}
